body {
    background-color: #3e493a;
    background-image: url("Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    color: #fff;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}

h1, h2, h3, h4, h5, h6, p, span, a, li, div, section, article, header, footer, .nav-link, .navbar, .navbar-nav, .main_content h1, .main_content h2, .main_content p, .btn-success, .main_button a, .footer, .footer p, .footer ul li a, .card-title, .card-text, .reference-list, #refh1, #footer-links, #navbar-text {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.navbar {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 1rem;
}

.navbar .navbar-brand img {
    width: 100px;
    height: 100px;
}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.navbar-nav .nav-item .nav-link {
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease;
    padding: 6px 12px;
    border-radius: 4px;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #505f4b;
    background-color: rgba(255, 255, 255, 0.1);
}

.navbar-nav .nav-item .btn-success {
    color: #fff;
    background-color: #3e493a;
    padding: 10px 20px;
}

.navbar-nav .nav-item .btn-success:hover {
    color: #fff;
    background-color: #556b2f;
}

.btn-success:hover {
    background-color: #3e493a;
    transform: scale(1.05);
}

a:hover, .btn-success:hover, .main_button:hover {
    text-decoration: none;
    cursor: pointer;
}

img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
    width: 100%;
}

.login-card {
    background-color: #263326;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5%;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.login-title {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    font-size: 0.9rem;
    color: #fff;
    margin-bottom: 5px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-top: 5px;
}

.login-button {
    background-color: #505f4b;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    width: 100%;
}

.login-button:hover {
    background-color: #3e493a;
    color: white;
}

.login-footer {
    margin-top: 15px;
    font-size: 0.9rem;
    color: #505f4b;
}

.login-footer a {
    color: #83c139;
    text-decoration: none;
    transition: color 0.3s ease;
}

.login-footer a:hover {
    color: #505f4b;
}

@media screen and (max-width: 480px) {
    .login-card {
        padding: 5%;
        max-width: 100%;
    }

    .login-title {
        font-size: 1.5rem;
    }

    .input-group input {
        font-size: 1rem;
        padding: 18px;
    }

    .login-button {
        padding: 15px 30px;
        font-size: 1.2rem;
    }

    .navbar {
        font-size: 1rem;
    }

    .navbar_container {
        padding: 0 20px;
    }

    .navbar_links {
        padding: 0.5rem;
    }
}
