body {
  background-image: url("Background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #fff;
}

.signup-container {
  background-color: rgba(38, 51, 38, 0.8); 
  padding: 5vw 10vw;
  margin: 5vw auto;
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.signup-box {
  background-color: #263326;
  padding: 8vw;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
}

h1 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 2rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 0.5rem;
  display: block;
}

.form-group input {
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  margin-top: 0.5rem;
  background-color: #f4f4f4;
}

.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 1rem 2rem;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #505f4b;
  color: #ffffff;
  font-size: 1rem;
  margin-top: 1rem;
}

.submit-btn:hover {
  background-color: #83c139;
}

p {
  color: #ccc;
  text-decoration: none;
}

.signin-link {
  font-size: 0.9rem;
  color: #ccc;
  margin-top: 1rem;
}

.signin-link a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.signin-link a:hover {
  color: #505f4b;
}

@media screen and (max-width: 768px) {
  .signup-container {
    padding: 5vw;
    margin: 5vw auto;
  }

  .signup-box {
    padding: 5vw;
  }

  h1 {
    font-size: 1.8rem;
  }

  .form-group {
    margin-bottom: 1rem;
  }

  .form-group input {
    padding: 0.8rem;
    font-size: 0.9rem;
  }

  .submit-btn {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .signup-container {
    padding: 5vw 2.5vw;
    margin: 5vw 2.5vw;
  }

  .signup-box {
    padding: 5vw;
  }

  h1 {
    font-size: 1.5rem;
  }

  .form-group input {
    padding: 0.7rem;
    font-size: 0.85rem;
  }

  .submit-btn {
    padding: 0.8rem 1.2rem;
    font-size: 1rem;
  }

  .signin-link a {
    font-size: 0.8rem;
  }
}
